---
import Sidebar from '../components/Sidebar';
import "../styles/globals.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Grid Bot</title>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body class="bg-gray-50">
		<div class="flex min-h-screen">
			<Sidebar client:load />
			<main class="flex-1 p-8 md:p-4">
				<slot />
			</main>
		</div>
	</body>
</html>
