---
import ExchangesForm from '../components/ExchangesForm.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-2xl font-bold mb-4">Exchanges</h1>
  <ExchangesForm client:load />
</LAyout> 